	<div id="landingPageColPics" class="row hidden-xs visible-lg-block visible-sm-block visible-md-block">
		<div style="padding:0" class="col-xs-4 fd-fade1 ">
			<img src="http://res.cloudinary.com/helvuqbi9/image/upload/c_fill,h_600,q_44/v1453522014/left-color_nfk489.jpg" class="fd-img1 fading fade" >
		</div>
		<div style="padding:0" class="col-xs-4 fd-fade2">
			<div class="wayFairerLogo text-center"><img src="img/logo.png" style="width: 50%;"></div>
			<img src="http://res.cloudinary.com/helvuqbi9/image/upload/c_fill,h_600,q_44/v1453522018/mid-color_qzs0bx.jpg" id="image" class="fd-img2 fading fade" >
		<div id="text" class="col-md-offset-1" >
			<h2 class="neuchaFont">- A <span style="color: #e68f1a;">FAIRER</span> WAY TO TRAVEL -</h2>
		<p>Connecting travellers seeking authentic cultural experience with those who provide them.</p>
		</div>
		</div>
		<div style="padding:0" class="col-xs-4 fd-fade3">
			<img src="http://res.cloudinary.com/helvuqbi9/image/upload/c_fill,h_600,q_44/v1453522016/right-color_ael1bh.jpg" class="fd-img3 fading fade" >
		</div>
	</div>
	<div id="landingPageColPics2" class="row hidden-lg visible-xs-block">
		<div class="wayFairerLogo text-center"><img src="img/logo.png" style="width: 50%;"></div>
		<div style="padding:0" class="col-xs-12 col-md-12 col-lg-12 fd-fade2">
			<img src="http://res.cloudinary.com/helvuqbi9/image/upload/c_fill,h_600,q_44/v1453522018/mid-color_qzs0bx.jpg" class="fd-img2 fading">
		</div>
		<div id="textSmall" class="col-md-offset-1" >
			<h2 class="neuchaFont">- A <span style="color: #e68f1a;">FAIRER</span> WAY TO TRAVEL -</h2>
		<p>Connecting travellers seeking authentic cultural experience with those who provide them.</p>
		</div>
	</div>

		 <div class="row">
			 	<div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 removePadding">
		<section class="sec1 jumbotron">
			<h1 class="head1" [hidden]="showForm">DO YOU HAVE UNIQUE KNOWLEDGE AND CULTURE TO SHARE ?</h1>
		
			<center >
			<div [hidden]="showForm">	<hr class="hr1" ><div class="btn btn-landingPagePrimary btn-lg" (click)="showForm = !showForm"  role="button">LIST YOUR CULTURAL EXPERIENCE</div><hr  class="hr1"></div>
			</center>	
		
				<div [hidden]="!showForm">
				<div class="head1">LIST YOUR EXPERIENCE</div>
			<form class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="margin-bottom: 2%;" >
			<div id="optionsDiv" class="col-md-offset-4">
						<label style="color:white" >Experience Type</label>
            <div id="experienceType" class="list-group list-group-horizontal">
                <a class="list-group-item active experienceTypeOptions" (click)="setExperienceType($event)" id="ceremony">CEREMONY</a>
                <a class="list-group-item experienceTypeOptions" (click)="setExperienceType($event)" id="artCraft">ART & CRAFT</a>
                <a class="list-group-item experienceTypeOptions" (click)="setExperienceType($event)" id="regional">REGIONAL FOOD</a>
                <a class="list-group-item experienceTypeOptions" (click)="setExperienceType($event)" id="others">OTHERS</a>
            </div>
						<label style="color:white">Experience Location</label>
						<div id="experienceLocation" class="list-group list-group-horizontal">
                <a class="list-group-item active experienceLocationOptions" id="australia" (click)="setExperienceLocation($event)">AUSTRALIA</a>
                <a class="list-group-item experienceLocationOptions" id="carribean" (click)="setExperienceLocation($event)">CARRIBEAN</a>
                <a class="list-group-item experienceLocationOptions"id="southAfrica" (click)="setExperienceLocation($event)">SOUTH AFRICA</a>
            </div>
						<label style="color:white">Number of Guests</label>
						<div id="dropdownListThree" class="list-group list-group-horizontal">
                <select class="list-group-item " [(ngModel)]="userRegistrationDetails.noOfGuest" name="noOfGuest">
									<option value="1" selected>1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
								</select>
            </div>
       <div class="col-md-offset-6">
				<button class="btn btn-landingPagePrimary btn-lg" data-toggle="modal" data-target="#userDetailsModal"> Continue</button>
			</div>
			</div>
			</form>
				</div>
			
			<!-- Modal -->
<div id="userDetailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header backgroundImg">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">BECOME A CULTURIST</h4>
      </div>
      <div class="modal-body">
        <form>
					<div style="display: flex;">
					<div class="form-group" style="width: 50%;margin-right: 1%;">
						<input type="text" class="form-control" id="firstName"  placeholder="First Name" [(ngModel)]="userRegistrationDetails.firstName" name="firstName">
					</div>
					<div class="form-group" style="width: 50%;margin-left: 1%;">
						<input type="test" class="form-control" id="lastName" placeholder="Last Name" [(ngModel)]="userRegistrationDetails.lastName" name="lastName">
					</div>
					</div>
						<div class="form-group">
						<input type="tel" class="form-control" id="mobileNumber" placeholder="Mobile Number" [(ngModel)]="userRegistrationDetails.mobileNo" name="mobileNo">
					</div>
						<div class="form-group">
						<input type="email" class="form-control" id="emailAddress" placeholder="Enter email" [(ngModel)]="userRegistrationDetails.emailAddress" name="emailAddress">
					</div>
					</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="register($event)">Register</button>
      </div>
    </div>

  </div>
</div>


		<!-- REgistration Confirmation Modal -->
		<div class="modal fade" id="registrationConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="registrationConfirmationModal" aria-hidden="true">
  <div class="modal-dialog modalDimensions" role="document">
    <div class="modal-content confirmationModalDesign">
      <div class="modal-header">
        <img type="button" class="close closeConfirmationModal" (click)="confirmationModalClose()" aria-label="Close" src="img/x-buitton2.png"/>
      </div>
      <div class="modal-body">
				<center>
        <img style="width: 38%;" src="img/confirmTick.png">
				
				<h2 class="confirmationModalThankYou neuchaFont">Thank you!</h2>
				<p class="confirmationMsg neuchaFont">We have received your application, thank you for registering for Wayfairer! We will now verify your details.</p>
				<button class="btn btn-lg confirmationContinueBtn" (click)="confirmationModalClose()">Continue</button>
				</center>
			</div>
    </div>
  </div>
</div>	
			
			<center class="knowMore">
				WANT TO KNOW MORE?
			</center>	
			<center>
				<a onclick="scrollWin(0, 300)"><img  class = "downButtonHover" style="width: 3%;"src="img/down-button.png"/></a>
			</center>
			
		</section>

		
		</div>
		</div>
		<section class="sec2" id="section2">
			<div class="row">
				<div class="col-xs-12 col-lg-12">
					<center>
						<h1 style="color:#e68f1a"><b>WHAT IS WAYFAIRER?</b></h1>
					</center>
				
						<div class="textInMiddleDiv">
						<p class="greenBoxText avenirFont">Wayfairer is an online platform allowing local people to connect with travellers who want to participate in and contribute to the communities they visit. We aim to empower local people to maintain their cultures, heritage and to take charge of their future.
						</p>
					</div>
				</div>
			</div>
		<!--	<div class="row">
				<div class="col-xs-12 col-lg-12">
					<center>
						<h1 style="color:#e68f1a"><b>HOW DOES IT WORK?</b></h1>
					</center>
				
						<div class="textInMiddleDiv">
						<p class="greenBoxText">Wayfairer is an online platform allowing local people to connect with travellers who want to participate in and contribute to the communities they visit. We aim to empower local people to maintain their cultures, heritage and to take charge of their future.
						</p>
					</div>
				</div>
			</div>-->
		  <div class="row">
			<div class="col-xs-12 col-lg-12">
			  <center>
				<h1 style="color:#e68f1a"><b>WHY BE A CULTURIST?</b></h1>
			  </center>
			</div>
		  </div>
		  <div class="row">
			<div  class="col-lg-12 col-sm-12 ">
			  <div class="col-lg-4 col-sm-4 col-md-4">
			
				<div class="greenBoxDiv"><p class="LPGreenBox">Share your knowledge and culture</p></div>
				<p class="greenBoxText avenirFont ">Do you have unique local knowledge and culture you would like to share? There are many travellers that would love to experience and learn about your way of life.</p>
			  </div>
			  <div class="col-lg-4 col-sm-4 col-md-4">
				<div class="greenBoxDiv"><p class="LPGreenBox">Meet travellers</p></div>
				<p class="greenBoxText avenirFont">Being a culturist will give you the opportunity to meet, connect with and make friends with people from around the world. You may find opportunities for collaborate with them.</p>
			  </div>
			  <div class="col-lg-4 col-sm-4 col-md-4">
				<div class="greenBoxDiv"><p class="LPGreenBox">Earn money</p></div>
				<p class="greenBoxText avenirFont">You can charge travellers to share experiences with you. We hope that this gives you more options to be able to sustain your cultural heritage, environment and way of life.</p>
			  </div>
			</div>
		
		
		  </div>
		</section>
		<section class = "row sec4">
			<div class="col-xs-12 col-lg-12">
			  <center>
				<h1 style="color:#e68f1a"><b>OUR PARTNERS</b></h1>
			  </center>
			</div>
			<div class="row">
					<div class="col-lg-6 col-sm-6 col-md-6 text-center">
						<img style="width: 56%; margin-left: 22%;" class="img-responsive sponsor" src="img/world-heritage-logo.png" alt="Sponsors">
					</div>
					<div class="col-lg-6 col-sm-6 col-md-6 text-center">
							<img style="width: 56%;" class="img-responsive sponsor" src="img/tnla-experience-why.png" alt="Sponsors">
					</div>
			</div>
			<div class="row">
					<div class="col-lg-6 col-sm-6 col-md-6 text-center">
						<img  style="width: 43%;margin-left: 22%;" class="img-responsive sponsor" src="img/unesco.png" alt="Sponsors">
					</div>
					<div class="col-lg-6 col-sm-6 col-md-6 text-center">
							<img style="width: 56%;" class="img-responsive sponsor" src="img/city-melbourne.png" alt="Sponsors">
					</div>
			</div>
			
				
		</section>
		<section class="sec3">
			<div  class="col-lg-12 col-sm-12 col-md 12">
			  <div class="col-lg-4 col-sm-4 col-md-4 wd100">
				<p class="sec3Head">CONTACT US</p><hr class="hr3">
				<p class="sec3Text">1234 Address Line Here <br/>
                Phone : (03) 1234 5678 <br/>Email: emailaddress@wayfairer.com</p>
			  </div>
			  <div class="col-lg-4 col-sm-4 col-md-4 wd100">
				<p class="sec3Head">FOLLOW US</p><hr class="hr3">
			
				<p class="sec3Text">
					
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-google-plus-official"></a>

				</p>
				<div id="google_translate_element" class="text-center"></div>

				<script type="text/javascript">
				function googleTranslateElementInit() {
				  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
				}
				</script>

				<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
			  </div>
			  <div class="col-lg-4 col-sm-4 col-md-4 wd100">
				<p class="sec3Head">USEFUL LINK</p><hr class="hr3">
				<p class="sec3Text">
                <a href="#" style="color:#fff;">Policies</a>
                <br>
                <a href="#" style="color:#fff;">About Us</a>
                <br>
                <a href="#" style="color:#fff;">FAQs</a>
                <br>
                <a href="#" style="color:#fff;">Terms &Privacy
				</a>
				</p>
			  </div>
			</div>
			<div class="text-center copyright">&copy; 2015 WAYFAIRER</div>
		
		
		</section>

    
