<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row hidden-xs visible-lg-block visible-sm-block visible-md-block" id="landingPageColPics">
  <div class="col-xs-4 fd-fade1" style="padding:0"><img class="fd-img1 fading" src="http://res.cloudinary.com/helvuqbi9/image/upload/c_fill,h_600,q_44/v1453522014/left-color_nfk489.jpg"/></div>
  <div class="col-xs-4 fd-fade2" style="padding:0"><img class="fd-img2 fading" src="http://res.cloudinary.com/helvuqbi9/image/upload/c_fill,h_600,q_44/v1453522018/mid-color_qzs0bx.jpg"/></div>
  <div class="col-xs-4 fd-fade3" style="padding:0"><img class="fd-img3 fading" src="http://res.cloudinary.com/helvuqbi9/image/upload/c_fill,h_600,q_44/v1453522016/right-color_ael1bh.jpg"/></div>
</div>
<div class="row hidden-lg visible-xs-block" id="landingPageColPics2">
  <div class="col-xs-12 fd-fade2" style="padding:0"><img class="fd-img2 fading" src="http://res.cloudinary.com/helvuqbi9/image/upload/c_fill,h_600,q_44/v1453522018/mid-color_qzs0bx.jpg"/></div>
</div>
<div class="row" style="background-color:#e68f1a">
  <div class="col-xs-12" style="padding:40px 0px">
    <div class="text-center">
      <h1 style="color:#ffffff;margin:0px">DO YOU HAVE UNIQUE KNOWLEDGE <br/> AND CULTURE TO SHARE ?</h1><a class="btn btn-landingPagePrimary btn-lg" href="/experience/new1" role="button">LIST YOU CULTURAL EXPERIENCE</a>
    </div>
  </div>
</div>

<div class="row" style="background-color:#f2efde;padding:70px 0">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h1 style="color:#e68f1a">WHY BE A CULTURIST?</h1>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:20px">
    <div class="col-xs-12">
      <div class="col-xs-4">
        <p class="LPGreenBox">Share Your Knowledge and Culture</p>
        <p class="text-center" style="font-size:25px;color:#969692">Do you have unique local knowledge and culture you would like to share? There are many travellers that would love to experience and learn about your way of life.</p>
      </div>
      <div class="col-xs-4">
        <p class="LPGreenBox">Meet Travellers</p>
        <p class="text-center" style="font-size:25px;color:#969692">Being a culturist will give you the opportunity to meet, connect with and make friends with people from around the world. You may find opportunities for collaborate with them.</p>
      </div>
      <div class="col-xs-4">
        <p class="LPGreenBox">Earn Money</p>
        <p class="text-center" style="font-size:25px;color:#969692">You can charge travellers to share experiences with you. We hope that this gives you more options to be able to sustain your cultural heritage, environment and way of life.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>


<!--<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row hidden-xs visible-lg-block visible-sm-block visible-md-block" id="landingPageColPics">
  <div class="col-xs-4 fd-fade1" style="padding:0"><img class="fd-img1 fading" src="http://res.cloudinary.com/helvuqbi9/image/upload/c_fill,h_600,q_44/v1453522014/left-color_nfk489.jpg"/></div>
  <div class="col-xs-4 fd-fade2" style="padding:0"><img class="fd-img2 fading" src="http://res.cloudinary.com/helvuqbi9/image/upload/c_fill,h_600,q_44/v1453522018/mid-color_qzs0bx.jpg"/></div>
  <div class="col-xs-4 fd-fade3" style="padding:0"><img class="fd-img3 fading" src="http://res.cloudinary.com/helvuqbi9/image/upload/c_fill,h_600,q_44/v1453522016/right-color_ael1bh.jpg"/></div>
</div>
<div class="row hidden-lg visible-xs-block" id="landingPageColPics2">
  <div class="col-xs-12 fd-fade2" style="padding:0"><img class="fd-img2 fading" src="http://res.cloudinary.com/helvuqbi9/image/upload/c_fill,h_600,q_44/v1453522018/mid-color_qzs0bx.jpg"/></div>
</div>
<div class="row" style="background-color:#e68f1a">
  <div class="col-xs-12" style="padding:40px 0px">
    <div class="text-center">
      <h1 style="color:#ffffff;margin:0px">DO YOU HAVE UNIQUE KNOWLEDGE <br/> AND CULTURE TO SHARE ?</h1><a class="btn btn-landingPagePrimary btn-lg" href="/experience/new1" role="button">LIST YOU CULTURAL EXPERIENCE</a>
    </div>
  </div>
</div>
<div class="row" style="background-color:#f2efde;padding:70px 0">
  <p class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h1 style="color:#e68f1a">WHY BE A CULTURIST?</h1>
      </div>
    </div>
  </p>
  <p class="row" style="margin-top:20px">
    <div class="col-xs-12">
      <div class="col-xs-4">
        <p class="LPGreenBox">Share Your Knowledge and Culture</p>
        <p class="text-center" style="font-size:25px;color:#969692">Do you have unique local knowledge and culture you would like to share? There are many travellers that would love to experience and learn about your way of life.</p>
      </div>
      <div class="col-xs-4">
        <p class="LPGreenBox">Meet Travellers</p>
        <p class="text-center" style="font-size:25px;color:#969692">Being a culturist will give you the opportunity to meet, connect with and make friends with people from around the world. You may find opportunities for collaborate with them.</p>
      </div>
      <div class="col-xs-4">
        <p class="LPGreenBox">Earn Money</p>
        <p class="text-center" style="font-size:25px;color:#969692">You can charge travellers to share experiences with you. We hope that this gives you more options to be able to sustain your cultural heritage, environment and way of life.</p>
      </div>
    </div>
  </p>
</div>
<div class="row" style="background-color:#eff1db;padding:100px 0">
  <p class="row">
    <div class="col-sx-12">
      <div class="text-center">
        <h1 style="color:#e68f1a">WHY BE A WHAT IS WAYFAIRER?</h1>
        <p style="font-size:25px;color:#969692;padding:0px 10px">Wayfairer is an online patform allowing local people to connect with travelleres who want to participate in and contribute to the communities they visit. We aim to empower local people to maintain their cultures, heritage and to take charge of their future.</p>
      </div>
    </div>
  </p>
</div>
<div class="row" style="background-color:#c1c97e;padding:150px 0">
  <p class="row">
    <div class="col-xs-12">
      <div class="col-xs-4">
        <p class="LPWhiteUnderline">CONTACT US.</p><br/>
        <p class="text-center" style="font-size:15px;color:#fff">1234 Address Line Here <br/> Phone : (03) 1234 5678 <br/> Email: emailaddress@wayfairer.com</p>
      </div>
      <div class="col-xs-4">
        <p class="LPWhiteUnderline">FOLLOW US</p>
        <p class="text-center" style="margin-top:30px">
          <button class="btn btn-primary btn-circle text-center" style="margin:10px"><i class="text-center fa fa-facebook" style="font-size:18px;color:#fff;margin:0px"></i></button>
          <button class="btn btn-primary btn-circle text-center" style="margin:10px"><i class="text-center fa fa-twitter" style="font-size:18px;color:#fff;margin:0px"></i></button>
          <button class="btn btn-primary btn-circle text-center" style="margin:10px"><i class="text-center fa fa-google-plus" style="font-size:18px;color:#fff;margin:0px"></i></button>
        </p>
        <div id="google_translate_element"></div>
        <script>
          function googleTranslateElementInit() {
              new google.translate.TranslateElement({
                  pageLanguage: 'en',
                  includedLanguages: 'de,en,es,fr,it,ja,pt,tr,zh-CN,zh-TW',
                  layout: google.translate.TranslateElement.InlineLayout.SIMPLE
              }, 'google_translate_element');
          }
          
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      </div>
      <div class="col-xs-4">
        <p class="LPWhiteUnderline">USEFUL LINK</p>
        <p class="text-center" style="font-size:15px;color:#fff !important"><br/><a href="#" style="color:#fff">Policies</a><br/><a href="how-it-works" style="color:#fff">About Us</a><br/><a href="#" style="color:#fff">FAQs</a><br/><a href="#" style="color:#fff">Terms & Privacy</a></p>
      </div>
    </div>
  </p>
  <p class="row">
    <div class="col-xs-12 text-center" style="color:#fff;margin-top:50px">&copy; 2015 Wayfairer.co All Rights Reserved</div>
  </p>
</div>

</body>
</html>
-->
<!--<!DOCTYPE html>
<html>
<body>

<p>This is a paragraph.</p>
<p>This is another paragraph.</p>

</body>
</html>
-->